<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:black">
    <div class="container">    
      <!-- navbar -->
      <a class="navbar-brand" href="#">
        <img src="../assets/img/teamlogo.png" alt="" style="width: 70px;height: 35px; background-color: white;" /> 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- Nav item is set active or inactive based on title value  -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">             
                    <a class="nav-link btn btn-primary btn-md active" href="#" role="button" data-target=".navbar-collapse.in"><i class="fas fa-plus"></i> Create</a>             
              </li>
          <li class="nav-item ">
            <a class="nav-link" href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
          </li>
              <li class="nav-item ">
            <a class="nav-link" href="#" data-target=".navbar-collapse.in"><i class="fas fa-tasks"></i> Projects</a>
          </li>    
              <li class="nav-item ">       
            <a class="nav-link" href="#" data-target=".navbar-collapse.in"><i class="fas fa-portrait"></i> Dashboard</a>
          </li>       
                  <li class="nav-item ">
            <a class="nav-link" style="font-weight:bold" data-target=".navbar-collapse.in"
              href="#"><i class="fas fa-phone-square-alt"></i> Apps
            </a>
          </li> 
              <li class="nav-item ">
         <a class="nav-link" style="font-weight:bold" data-target=".navbar-collapse.in"
           href="#"><i class="fas fa-sign-in-alt"></i> Login
         </a>
        </li>
        </ul>
      </div>
    </div>
  </nav>