<section id="homesec">
  <video
    class="videobg"
    preload="metadata"
    src="../../../assets/incident.mp4"
    autoplay
    muted
    loop
  ></video>
  <div id="home">
    <h1 class="home-title">Incident Management Site</h1>
    
    <!-- sociallinks -->
    <div class="links">
      <a target="_blank" class="home-icons" href="">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      <a
        target="_blank"
        class="home-icons"
        href=""
      >
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a
        target="_blank"
        class="home-icons home-icons-last"
        href=""
      >
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
    </div>
    <a class="btn btn-primary btn-lg homebtn" href="/incidents">View Incidents </a>
    
    <a class="btn btn-outline-light btn-lg homebtn" href="/login">Login</a>
  </div>
</section>