<div class="col-md-10" style=" margin-top: 40px;"><br/> <br/> <br/> 
        <div class="row">
        <label><h4>
            UserName:
            <input type="text" value={{username}}></h4>
          </label>
        </div></div>
        <div class="container-fluid" style="margin-top: 30px;">
            <div class="row"> 
            <label><h4>
                First Name:
                <input type="text" ></h4>
              </label>
            </div></div>
            <div class="container-fluid" style="margin-top: 30px;">
                <div class="row">  
                <label><h4>
                    Last Name:
                    <input type="text" ></h4>
                  </label>
                </div></div>
                <div class="container-fluid" style="margin-top: 30px;">
                    <div class="row">  
                    <label><h4>
                        E-mail ID:
                        <input type="text" ></h4>
                      </label>
                    </div></div>
                    <div class="container-fluid" style="margin-top: 30px;">
                        <div class="row">  
                        <label><h4>
                            Address 1:
                            <input type="text" ></h4>
                          </label>
                        </div></div>
                        <div class="container-fluid" style="margin-top: 30px;">
                            <div class="row">  
                            <label><h4>
                                Address 2:
                                <input type="text" required ></h4>
                              </label>
                            </div></div>
                        <div class="form-group">
                            <div class="text-center">
                                <button class="btn btn-secondary m-1" style=" margin-bottom: 40px;">Save</button>
                             
    </div>
    
</div>

     

            

    
        


       



     

            