<%- include("../partials/header") -%>
<%- include("../partials/navbar") -%>

<!-- home page -->
<div class="jumbotron col-md-8" style="margin-left: 210px; margin-top:60px;">
    <h1 class="display-4">Incident Management Site</h1>
    
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">View Incidents</a>
    </p>
  </div>
<%- include("../partials/footer") -%>